GROQ_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="LoreSpring"
POSTGRES_URL=postgresql://user:pass@localhost/langgraph



# need to pass this in main.py in async postgres saver
POSTGRES_URL_SYNC=postgresql://user:pass@localhost/langgraph